

<header class="barra">
        <nav class="menu container">


            <img src="img/logo.png" alt="ponto digital" height="85px">
            <div class=" conteudo_nav container">

                <ul>


                    <li><a class="link" href="index.html">Home</a></li>
                    <li><a class="link" href="oq.html">Produto</a></li>
                    <li><a class="link" href="pacotes.html">Pacotes</a></li>
                    <li><a class="link" href="#">Suporte</a></li>
                    <li><a class="link" href="#">Avaliações</a></li>
                    <li><a class="link" href="quem_somos.html">Quem somos ?</a></li>



                    <li>
                        <div class="conteudo_nav2">
                            <a class="link" href="cadastro.html">Cadastro</a>

                            <a id="login" href="login.html">
                                <img src="img/perfil.png" alt="login" width="45%" height="45%">
                            </a>

                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>