<header class="barra">
        <nav class="menu container">


            <img src="/img/logo.png" alt="ponto digital" height="85px">
            <div class=" conteudo_nav container">

                <ul>
                    <li><a class="link" href='@Url.Action("Index", "Home")'">Home</a></li>
                    <li><a class="link" href="oq.html">Produto</a></li>
                    <li><a class="link" href="pacotes.html">Pacotes</a></li>
                    <li><a class="link" href="#">Suporte</a></li>
                    <li><a class="link" href="#">Avaliações</a></li>
                    <li><a class="link" href="quem_somos.html">Quem somos ?</a></li>



                    <li>
                        <div class="conteudo_nav2">
                            <li><a class="link" id="bt_login" href='@Url.Action("Index", "Cadastro")'>Cadastro </a></li>

                            <a id="login" href='@Url.Action("Login", "Cliente")'>
                                <img src="/img/perfil.png" alt="login" width="60%" height="60%">
                            </a>

                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>