<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="imagem/png" href="/img/logo.png"  />
    <title>Ponto Digital</title>
    
</head>

<body>

    @RenderBody()    
    
</body>

</html>