@{
    Layout="_Layout";
    Html.RenderPartial("_HeaderNavBar");
}

 <head>
     <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="css/style.css">
 </head>

<section class="banner">
        <h1>Ponto Digital,<br> sua gestão é o nosso ganha pão</h1>

        <form class="button" action="pacotes.html">
            <input class="btn_free" type="submit" value="Adquira ja seu pacote de um mes gratis" />
            <input class="btn_pct" type="submit" value="Adquira ja seu pacote Ponto Digital" />
        </form>

    </section>
    <div class="meio">

        <section class="pacote_flex">
            <div class="pacote">
                <div>
                    <img src="img/box_blue.png" alt="caixa meramente ilustrativa">
                </div>
                <h2>Pacote empresas pequenas</h2>
                <h3>99,99</h3>
                <div class="lista">
                    
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                    <br>
                    
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <br>
                    
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <br>
                    
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <br>
                    
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <br>
                   
                    
                </div>
            </div>
            
            
            <div class="pacote">
                <div>
                    <img src="img/box_green.png" alt="caixa meramente ilustrativa">
                </div>
                <h2>Pacote empresas<br> Médias</h2>
                <h3>99,99</h3>
                
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                <br>
                
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>
                
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>
                
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>
                
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>
            </div>
            
            <div class="pacote">
                <div>
                    <img src="img/box_orange.png" alt="caixa meramente ilustrativa">
                </div>
                <h2>Pacote empresas Grandes</h2>
                <h3>99,99</h3>
                
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                <br>
                
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>
                
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>
                
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>
            </div>
            
            <div class="pacote">
                <div>
                    <img src="img/box_red.png" alt="caixa meramente ilustrativa">
                </div>
                <h2>Pacote para<br> teste</h2>
                <h3>99,99</h3>
                
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                <br>
                
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>
                
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>
                
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>
                
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>
            </section>
            <section>
                <div class="conteudo_links">
                    
                    <div class="box">
                        <img src="img/noticias.png" alt="imagem de jornais">
                        <h3>Noticias</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde alias doloribus blanditiis placeat,
                            ipsa quia veniam temporibus optio fuga eos tempora quam impedit dignissimos corrupti in
                            reprehenderit porro. Aut, ad.</p>
                        </div>
                        
                        <div class="box">
                            <img src="img/contribuicoes.png" alt="imagem de jornais">
                            <h3>Contribuições</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde alias doloribus blanditiis placeat,
                                ipsa quia veniam temporibus optio fuga eos tempora quam impedit dignissimos corrupti in
                                reprehenderit porro. Aut, ad.</p>
                            </div>
                            
                            <div class="box">
                                <img src="img/avaliações.png" alt="imagem de jornais">
                                <h3>Avaliações</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde alias doloribus blanditiis placeat,
                                    ipsa quia veniam temporibus optio fuga eos tempora quam impedit dignissimos corrupti in
                    reprehenderit porro. Aut, ad.</p>
                </div>
                
                <div class="box">
                    <img src="img/Quem_somos.png" alt="imagem de jornais">
                    <h3>Quem somos </h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde alias doloribus blanditiis placeat,
                        ipsa quia veniam temporibus optio fuga eos tempora quam impedit dignissimos corrupti in
                        reprehenderit porro. Aut, ad.</p>
                    </div>
                    
                    <div class="box">
                        <img src="img/sac.png" alt="imagem de jornais">
                        <h3>SAC</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde alias doloribus blanditiis placeat,
                            ipsa quia veniam temporibus optio fuga eos tempora quam impedit dignissimos corrupti in
                            reprehenderit porro. Aut, ad.</p>
                        </div>
                        
                        <div class="box">
                            <img src="img/oq2.png" alt="imagem de jornais">
                <h3>O que é o Ponto digital</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde alias doloribus blanditiis placeat,
                    ipsa quia veniam temporibus optio fuga eos tempora quam impedit dignissimos corrupti in
                    reprehenderit porro. Aut, ad.</p>
                </div>
            </div>
        </section>
        <section>
            <div class="historia">
            <h2> Um pouco sobre nós</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At ullam quibusdam sint, perspiciatis
                asperiores eius, quasi, nobis possimus odio labore quae aliquid ducimus nesciunt! A dolorum cupiditate
                consectetur minima adipisci!</p>
            </div>
            <a id="claq" href="quem_somos.html">Clique aqui para saber mais</a>
            
            <iframe id="mapa"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.8888870802516!2d-46.648335685022666!3d-23.53649848469522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deb99025%3A0xb23619858bc7e63e!2sEscola+SENAI+de+Inform%C3%A1tica!5e0!3m2!1spt-BR!2sbr!4v1552592573214"
            width="600" height="450" frameborder="0" style="border:0"></iframe>
        </section>
    </div>