@{
    Html.RenderPartial("_headerNavBar");
}
<head>
    <link rel="stylesheet" type="text/css" href="/css/style_oq.css">
</head>
<div class="conteudo_topo">
            <div class="explicacao">
                <h1>O que é o ponto digital </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab minus inventore a suscipit laudantium
                    sapiente pariatur, ut vero earum nobis eius illo deleniti rerum, beatae est perspiciatis, impedit
                    ducimus assumenda! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui maiores aut ex ipsa
                    fugiat magni reprehenderit, illum laboriosam rem expedita distinctio, autem veritatis rerum quas
                    magnam
                    corporis cum voluptas labore.</p>
            </div>
            <img src="/img/not_oq.png" alt="notebook com codigos">

        </div>
    </section>
    <div class="videos">
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/gG6UW4CFLm0" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/q9GXGaKXefU" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/OJT86lNa038" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/OYzMyr1wiBE" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>