@{
    Html.RenderPartial("_HeaderNavBar");
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/style_pacotes.css">
</head>
<section>
        <h1> Pacotes Ponto Digital</h1>

        <section class="pacote_flex">
            <div class="pacote">
                <div>
                    <img src="/img/box_blue.png" alt="caixa meramente ilustrativa">
                </div>
                <h2>Pacote empresas pequenas</h2>
                <h3>99,99</h3>
                <div class="lista">

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                    <br>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <br>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <br>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <br>

                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                    <br>

                    <form class="" method="" action="#">

                            <button class="button">Confirmar pedido</button>
                </div>
            </div>


            <div class="pacote">
                <div>
                    <img src="/img/box_green.png" alt="caixa meramente ilustrativa">
                </div>
                <h2>Pacote empresas<br> Médias</h2>
                <h3>99,99</h3>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                <br>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>

                <form class="" method="" action="#">

                        <button class="button">Confirmar pedido</button>
            </div>

            <div class="pacote">
                <div>
                    <img src="/img/box_orange.png" alt="caixa meramente ilustrativa">
                </div>
                <h2>Pacote empresas Grandes</h2>
                <h3>99,99</h3>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                <br>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>

                <form class="" method="" action="#">

                        <button class="button">Confirmar pedido</button>
            </div>

            <div class="pacote">
                <div>
                    <img src="/img/box_red.png " width="125px" height="116px" alt="caixa meramente ilustrativa">
                </div>
                <h2>Pacote para<br> teste</h2>
                <h3>99,99</h3>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
                <br>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <br>

                <form class="" method="" action="#">

                        <button class="button">Confirmar pedido</button>
            </div>
        </section>
    </section>