@{
    Html.RenderPartial("_HeaderNavBar");
}

<head>
    <link rel="stylesheet" type="text/css" href="/css/style_quem_somos.css">
</head>
    <section>
        <h1>Quem somos ?</h1>

        <div class="conteudo_top">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab illum reprehenderit pariatur deleniti
                numquam enim ratione ipsum! Vel error quas ullam vitae dolorum temporibus iusto perferendis numquam
                neque, corporis itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, id error
                veniam sequi pariatur voluptates eos at, debitis perspiciatis ipsam soluta. Minima corrupti quasi vitae
                error ut quibusdam debitis iusto?</p>
            <img src="/img/foto_professores.png" alt="desenvolvedores do ponto digital">
        </div>

        <div class="conteudo_baixo">
            <img src="/img/not_quem2.png" alt="computador com codigos">
            <div class="historia">

                <h2>Por que o ponto digital ? </h2>
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab illum reprehenderit pariatur deleniti
                        numquam enim ratione ipsum! Vel error quas ullam vitae dolorum temporibus iusto perferendis numquam
                        neque, corporis itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, id error
                        veniam sequi pariatur voluptates eos at, debitis perspiciatis ipsam soluta. Minima corrupti quasi vitae
                        error ut quibusdam debitis iusto?</p>
            </div>
        </div>
        <iframe id="mapa"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.8888870802516!2d-46.648335685022666!3d-23.53649848469522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deb99025%3A0xb23619858bc7e63e!2sEscola+SENAI+de+Inform%C3%A1tica!5e0!3m2!1spt-BR!2sbr!4v1552592573214"
            width="600" height="450" frameborder="0" style="border:0"></iframe>
    </section>